.menu-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 60%;
    width: 100%;

    &--option {
        width: 18rem;
        height: 6rem;
        font-size: 2rem;
        border: 0.1rem solid;
        border-radius: 0.8rem;
    }
}